hub_password
swarm-join-token-mgr
swarm-join-token-worker
*-id
*-ipaddr
*.tar
*.tar.gz
*.lic
*.log
*_password
*_username
*-token-mgr
*-token-worker
.vagrant
jenkins
ucp-bundle-admin
*.pem
*.pub
*.cmd
env.sh
*.ps1
.DS_Store
ucp-nfs-node1
dtr-nfs-node1
dtr-nfs-node2
dtr-nfs-node3
nfs-server-node
